.active{
    color: rgb(234, 166, 40);
}
.count-cart{
    font-size: 14px;
    position: absolute;
    top: -2px;
    left: 25px;
    background-color: rgb(195, 195, 195);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(255, 174, 0, 0.26), 0px 20px 40px rgba(255, 174, 0, 0.29);
    border-radius: 8px;
    cursor: pointer;
}