<div class="header_section position-sticky top-0 w-100 z-1">

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid" >
          <a  routerLink="/" class="navbar-brand" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Ecommerce App</a>
          <div>
            <a routerLink="register" class="navbar-brand" routerLinkActive="active">Register</a>
            <a  routerLink="login" class="navbar-brand" routerLinkActive="active">Login</a>

            <a  routerLink="/cart" class="navbar-brand position-relative" routerLinkActive="active">
              <img src="../../assets/add-cart.ico" width="30px" alt="">
              <span class="count-cart text-danger ">{{countCart}}</span>
            </a>

          </div>

        </div>
      </nav>


</div>
