.active{
    color: red;
}
.count-cart{
    font-size: 14px;
    position: absolute;
    top: -2px;
    left: 25px;
    background-color: rgb(195, 195, 195);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}