<!--------------------- footer------------------ -->
<div class="footer-up mt-3">
    <div class="container">
      <h2>our top cities</h2>
      <div class="cities">
        <div class="group-1">
          <div><a href="#">San Francisco</a> </div>
          <div><a href="#">Miami</a> </div>
          <div><a href="#">East Bay</a> </div>
          <div><a href="#">Long Beach</a> </div>
        </div>
        <div class="group-1">
          <div><a href="#">Los Angeles</a> </div>
          <div><a href="#">Washington DC</a> </div>
          <div><a href="#">Seattle</a> </div>
          <div><a href="#">Portland</a> </div>
          <div><a href="#">Nashville</a> </div>
        </div>
        <div class="group-1">
          <div><a href="#"> New York City</a></div>
          <div><a href="#">Orange County</a> </div>
          <div><a href="#"> Atlanta</a></div>
          <div><a href="#">Charlotte</a> </div>
          <div><a href="#">Denver</a> </div>
        </div>
        <div class="group-1">
          <div><a href="#"> Chicago</a></div>
          <div><a href="#">Phoenix</a> </div>
          <div><a href="#">Las Vegas</a> </div>
          <div><a href="#">Sacramento</a> </div>
          <div><a href="#"> Oklahoma City</a></div>
        </div>
        <div class="group-1">
          <div><a href="#"> Columbus</a></div>
          <div><a href="#"> New Mexico</a></div>
          <div><a href="#"> Albuquerque</a></div>
          <div><a href="#">Sacramento</a> </div>
          <div><a href="#">New Orleans</a> </div>
        </div>
      </div>
    </div>
    </div>
  <!-- 2222222222222222222222222 -->
  <div class="part-two-footer" style="background-color: #212121;">
  <div class="container">
    <div class="two-section">
    <div class="company">
      <div class="one">
        <h2>company</h2>
        <p>About us</p>
        <p>Team</p>
        <p>Careers</p>
        <p>Blog</p>
      </div>
      <div class="one">
        <h2>Contact</h2>
        <p>Help & Support</p>
        <p>Partner with us </p>
        
      </div>
      <div class="one">
        <h2>Legal</h2>
        <p> Terms & Conditions</p>
        <p>Refund & Cancellation</p>
        <p>Privacy Policy</p>
        <p>Cookie Policy</p>
      </div>
    </div>
  <!-- follow us -->
  <div class="follow-us">
  <h2>follow us</h2>
  <div class="icon-social">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <p>Receive exclusive offers in your mailbox</p>
  
  <div class="form-up">
  <div class="form-center">
  <form action="#">
    <div class="align" >
   <div><input type="email" name="" placeholder="Enter Your Email" id=""></div> 
    
  <div class="subscribe"> 
    <div class="sub"><a href="#">subscribe </a></div>
  </div>
  </div>
  </form>
  </div>
  
  </div>
  
  </div>
  </div>
  </div>
  </div>
  
  <!-- herrro footer -->
  <div class="hero-footer1" style="background-color: #212121;">
    <div class="container" >
      <div  class="hero-footer">
  
    <div class="left">
      All rights Reserved &#0174; Gawish Company,2024
    </div>
    <div class="right">Made With BY ThemeWagon</div>
  </div>
  </div>
  </div>