.pagination div:nth-child(1){
    cursor: pointer;
    background-color: rgb(211, 211, 211);
}
.coursor-none{
    cursor: default !important;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 0.5s ease-in;
  }
  @media screen and (min-width:992px) {
    .desc{
      display: block;
      width: 70% !important;
    }
  }