<div class="selected-product container mt-5 mb-5">

    <div class="box-product">
        <div class="product-name fs-1 fw-bold">
            {{productDetails?.title}}
        </div>
        <div class="product-desc border-bottom pb-3">
            <span class="text-muted"> {{productDetails?.description}}</span>
            <div class="rating-high fs-1 text-success">@if (productDetails?.rating.toFixed()>="5") {
                &#8270;    &#8270;    &#8270;    &#8270;    &#8270;
                }@else {
                    <div class="rating-low fs-1 text-danger">
                        &#8270;    &#8270;    &#8270; 
                        </div>
                }
            </div>
        </div>
        <div class="product-price pt-4 border-bottom pb-4">
            <h5> ${{productDetails?.price}}.00 or 99.99/month</h5>
            <div class="text-muted">suggested payments with 6 months special financing</div>
          </div>
          <div class="stock-section  border-bottom pb-4">
            @if (productDetails?.stock) {
                <div><button type="button" class="btn btn-success rounded-pill pe-4 ps-4 pt-0 pb-0 mb-3 mt-3">in stock</button></div>
                <h6 >More Information</h6>
                <button type="button" class="btn btn-secondary rounded-pill pe-4 ps-4 pt-2 pb-2  mt-1">Category</button>
                <button type="button" class="btn btn-secondary rounded-pill pe-5 ps-5 pt-2 pb-2 ms-3 mt-1">Brand</button>
            }@else{
                <button type="button" class="btn btn-danger">out of stock</button>
            }
          </div>
          <div class="numbder-cart mt-4 d-flex">
            <nav aria-label="Page navigation example ">
                <ul class="pagination">
                  <li class="page-item"><div class="page-link">-</div></li>
                  <li class="page-item"><div class="page-link coursor-none">2</div></li>
                  <li class="page-item"><div class="page-link">+</div></li>
                </ul>
              
              </nav>
              <div class="ms-4">only <span class="text-warning">12 items left</span> <br> Dont miss it</div>
          </div>
          <div class="stock-section  border-bottom pb-4">
                <button type="button" class="btn btn-dark rounded-pill pe-5 ps-5 pt-2 pb-2 ms-3 mt-1">Buy Now</button>
                <button type="button" class="btn btn-outline-dark rounded-pill pe-5 ps-5 pt-2 pb-2 ms-3 mt-1">Add to Cart</button>
            
           
          </div>

    </div>



</div>
