/* Style for the scroll-to-top button */
.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:#f6b50ef0;
    color: #fff;
    border: none;
    border-radius: 6px;
    
    cursor: pointer;
  }
  
  .scroll-to-top-btn:hover {
    background-color: #e89a00;
  }
  button i {
    font-size: 30px;
  }
  