<div class="container container-width mt-5">
  <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
    <div class="mb-3 box-email">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        formControlName="email"
        aria-describedby="emailHelp"
      />
      <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" id="emailHelp" class="form-text text-danger">
        <div *ngIf="loginForm.get('email')?.errors?.['required']">the email is required</div>
        <!-- <div *ngIf="loginForm.get('email')?.errors?.['minlength']">Email is short</div> -->
        <div *ngIf="loginForm.get('email')?.errors?.['pattern']">Enter a valid email</div>
      </div>
    </div>
    <div class="mb-3 box-password">
      <label for="pass" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="pass"
        formControlName="password"
      />
      <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="form-text text-danger">
        <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</div>
        <!-- <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Password is short</div> -->
        <div *ngIf="loginForm.get('password')?.errors?.['pattern']">Enter a valid password</div>
      </div>
    </div>
    <div class="mb-3 form-check box-saved">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
<!-- [disabled]="loginForm.invalid" -->
<div class="dont-have_account text-center mt-5 mb-5">
  <span>
    Don't have an account!
    <a routerLink="/register">Register</a>
  </span>
</div>
