body{
    height: 5000px;
}

.box1{
    position: relative;
}
.stock-btn{
    position: absolute;
    top: 0;
    left: 0;
}
.description{
    margin-top: -6px;
}
.rating-high{
    margin-top: -15px;

}
@media (max-width:500px) {
    .section-product .img-box{
        display: flex;
        justify-content: center;


    }
    .section-product .img-box img{
        width: 100% !important;
    }
    
}