 <div class="container container-width mt-5">
    <form [formGroup]="registerForm" (ngSubmit)="handleRegisterSubmit()">
        <div class="mb-3 box-name">
          <label for="username" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" aria-describedby="usermsg" formControlName="registerName">
          @if(registerForm.controls["registerName"].touched && registerForm.controls["registerName"]){
            <div id="name" class="form-text text-danger">
              @if (registerForm.controls["registerName"].errors?.["required"]) {
              <div class="">this name is required</div>
              } @if(registerForm.controls["registerName"].errors?.["minlength"] ) {
              <div> name is short </div>
              }@else if( registerForm.controls["registerName"].errors?.["pattern"]) {
              <div>enter valid name</div>
              }
            </div>
            }
        </div>
        <div class="mb-3 box-email">
            <label for="InputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp"formControlName="registerEmail" >
            @if(registerForm.controls["registerEmail"].touched && registerForm.controls["registerEmail"]){
              <div id="emailHelp" class="form-text text-danger">
                @if (registerForm.controls["registerEmail"].errors?.["required"]) {
                <div>the email is required</div>
                } @if(registerForm.controls["registerEmail"].errors?.["minlength"] ) {
                <div> email is not valid </div>
                }@else if (registerForm.controls["registerEmail"].errors?.["maxlength"]) {
                  <div> email is long and not valid</div>
                } @else if( registerForm.controls["registerEmail"].errors?.["pattern"]) {
                <div>enter valid email</div>
                }
              </div>
              }
  
          </div>
        <div class="mb-3 box-password">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" formControlName="registerPassword" (keyup)="PasswordMatch()">
          @if(registerForm.controls["registerPassword"].touched && registerForm.controls["registerPassword"]){
            <div id="password" class="form-text text-danger">
              @if (registerForm.controls["registerPassword"].errors?.["required"]) {
              <div>the password is required</div>
              } @if(registerForm.controls["registerPassword"].errors?.["minlength"] ) {
              <div  class="text-danger">  password is so weak ! </div>
              } @else if( registerForm.controls["registerPassword"].errors?.["pattern"]) {
              <div  class="text-danger">password must contain 1 character and 1 digit number and 1 special character at least </div>
              }
            </div>
            }


        </div>

        <div class="mb-3 box-confirm">
            <label for="confirmpassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmpassword" formControlName="registerConfirmPassword"
             (keyup)="confirmPasswordMatch()">
            <div>
              @if (registerForm.controls["registerConfirmPassword"].touched && !(idinticalpass) ) {
                <div class="text-danger">confirm password not idintical with password {{idinticalpass}}</div>
                }
            </div>
          </div>

        <div class="mb-3 form-check box-terms">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">confirm terms</label>
        </div>
        <button type="submit" class="btn btn-primary ">Register</button>
      </form>
</div>
<div class="have-account text-center mt-5 mb-5">
  <span>Already have account ! 
    <a routerLink="/login">Login</a>
  
  </span>

