 <div class="container container-width mt-5">
    <form [formGroup]="loginForm" (ngSubmit)="handleRegisterSubmit()">
        <div class="mb-3">
          <label for="username" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" aria-describedby="usermsg" formControlName="loginName">
          @if(loginForm.controls["loginName"].touched && loginForm.controls["loginName"]){
            <div id="name" class="form-text text-danger">
              @if (loginForm.controls["loginName"].errors?.["required"]) {
              <div>this field is required</div>
              } @if(loginForm.controls["loginName"].errors?.["minlength"] ) {
              <div> Password is short </div>
              }@else if( loginForm.controls["loginName"].errors?.["pattern"]) {
              <div>Plz! Enter Valid Password</div>
              }
            </div>
            }
        </div>
        <div class="mb-3">
            <label for="InputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp"formControlName="loginEmail" >
            @if(loginForm.controls["loginEmail"].touched && loginForm.controls["loginEmail"]){
              <div id="emailHelp" class="form-text text-danger">
                @if (loginForm.controls["loginEmail"].errors?.["required"]) {
                <div>email is required</div>
                } @if(loginForm.controls["loginEmail"].errors?.["minlength"] ) {
                <div> email is not valid </div>
                }@else if (loginForm.controls["loginEmail"].errors?.["maxlength"]) {
                  <div>this email is long and not valid</div>
                } @else if( loginForm.controls["loginEmail"].errors?.["pattern"]) {
                <div>Plz! enter valid password</div>
                }
              </div>
              }
  
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">UserName</label>
            <input type="text" class="form-control" id="username" aria-describedby="username" formControlName="loginUsername">
            @if(loginForm.controls["loginUsername"].touched && loginForm.controls["loginUsername"]){
              <div id="username" class="form-text text-danger">
                @if (loginForm.controls["loginUsername"].errors?.["required"]) {
                <div>this field required</div>
                } @if(loginForm.controls["loginUsername"].errors?.["minlength"] ) {
                <div> username is so short ! </div>
                } @else if( loginForm.controls["loginUsername"].errors?.["pattern"]) {
                <div>Plz! enter valid username</div>
                }
              </div>
              }
          </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" formControlName="loginPassword" (keyup)="PasswordMatch()">
          @if(loginForm.controls["loginPassword"].touched && loginForm.controls["loginUsername"]){
            <div id="password" class="form-text text-danger">
              @if (loginForm.controls["loginPassword"].errors?.["required"]) {
              <div>this field required</div>
              } @if(loginForm.controls["loginPassword"].errors?.["minlength"] ) {
              <div> password is so weak ! </div>
              } @else if( loginForm.controls["loginPassword"].errors?.["pattern"]) {
              <div>Plz! password must contain 1 character and 1 digit number and 1 special character at least </div>
              }
            </div>
            }


        </div>

        <div class="mb-3">
            <label for="confirmpassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmpassword" formControlName="loginConfirmPassword"
             (keyup)="confirmPasswordMatch()">
            <div>
              @if (loginForm.controls["loginConfirmPassword"].touched && !(idinticalpass) ) {
                <div class="text-danger">confirmpassword not idintical with password {{idinticalpass}}</div>
                }
            </div>
          </div>

        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">confirm terms</label>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
</div>
<div class="have-account text-center mt-5 mb-5">
  <span>Already have account ! 
    <a routerLink="/login">Login</a>
  
  </span>

